<div class="card">
  <div class="card-img-top bg-light position-relative" style="height: 300px;">
    
    <!-- Loader -->
    <div 
      class="spinner-border text-primary position-absolute top-50 start-50 translate-middle" 
      role="status" 
      *ngIf="!imageLoaded"
    >
      <span class="visually-hidden">Loading...</span>
    </div>

    <!-- Imagen -->
    <img
      [src]="product.image"
      [alt]="product.title"
      class="w-100 h-100"
      style="object-fit: cover; display: block;"
      (load)="onImageLoad()"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <a href="#" class="btn btn-primary">add Product</a>
  </div>
</div>
