<!-- Fact 5 - Bootstrap Brain Component -->
<section class="bsb-fact-5 py-3 py-md-5">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid bg-light border shadow">
          <div class="row">
            <div class="col-12 col-md-4 p-0">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-4 p-xxl-5">
                  <h3 class="display-4 fw-bold mb-2">60+</h3>
                  <p class="fs-5 mb-0 text-secondary">Finished Projects</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 p-0 border-top border-bottom border-start border-end">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-4 p-xxl-5">
                  <h3 class="display-4 fw-bold mb-2">18k+</h3>
                  <p class="fs-5 mb-0 text-secondary">Issues Solved</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 p-0">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-4 p-xxl-5">
                  <h3 class="display-4 fw-bold mb-2">10k+</h3>
                  <p class="fs-5 mb-0 text-secondary">Happy Customers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>