<!-- About 6 - Bootstrap Brain Component -->
<section class="bsb-about-6 py-3 py-md-5 py-xl-8">

    <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <h3 class="fs-5 mb-2 text-secondary text-center text-uppercase">Why Choose Us</h3>
        <h2 class="display-5 mb-5 mb-xl-9 text-center">Our commitment to excellence it</h2>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionAbout6">
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button bg-transparent fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Low Price Guarantee
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionAbout6">
                  <div class="accordion-body">
                    Our Low Price Guarantee isn't just a promise; it's a commitment to providing you with unbeatable value and peace of mind when you shop with us. Trust us to deliver quality products and services without breaking the bank.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed bg-transparent fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Life-Time Warranty
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionAbout6">
                  <div class="accordion-body">
                    Discover unparalleled peace of mind with our business's lifetime warranty commitment. We stand behind the quality and durability of our products like no other.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-4 border border-dark">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed bg-transparent fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Genuine Spare Parts
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionAbout6">
                  <div class="accordion-body">
                    Our commitment to authenticity ensures that you receive parts manufactured to the highest standards, guaranteeing optimal performance and longevity for your equipment. From small components to intricate pieces, we have everything you need to keep your machinery running smoothly.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded border border-dark"  loading="lazy" src="https://picsum.photos/id/1012/500/500" alt="About 6">
      </div>
    </div>
  </div>
</section>